/* トップページ */
    body{
      background: #f6f6f6;
    }
    .hero-wrapper {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .top-section {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .top-section h1 {
        font-size: 1.5rem;
    }

    .bottom-section {
      height: 80vh;
        padding: 20px 100px;  /* ← 左右の余白を大きく */
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 横4つ */
        gap: 30px;  /* ← カードの間隔も少し広げる */
    }

    .card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative; /* 日付を右下に配置するために必要 */
        padding-bottom: 25px; /* 日付のスペース確保 */
        height: 400px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    }

    .card img {
        width: 100%;
        object-fit: cover;
    }

    .card h3 {
        margin: 10px;
        font-size: 1.2rem;
    }

    .card p {
        margin: 0 10px 10px;
        font-size: 0.9rem;
    }

    .card small {
        position: absolute;   /* ← カードの右下に固定 */
        right: 10px;
        bottom: 5px;
        font-size: 0.8rem;
        color: gray;
    }

/* トップページ */



/* 新規登録ページ */

/* 新規登録ページ */
