{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="hero-wrapper">
<div class="top-section">
    <h1>the <br> Memo App</h1>
</div>

<div class="bottom-section">
    {% if memos %}
        {% for memo in memos %}
          <div class="card">
            {% if memo.image %}
              <img src="{{ memo.image }}" 
                   alt="memo image"
                   style="
                     {% set mod = loop.index0 % 4 %}
                     {% if mod == 0 %}height: 300px;
                     {% elif mod == 1 %}height: 250px;
                     {% elif mod == 2 %}height: 200px;
                     {% elif mod == 3 %}height: 350px;
                     {% endif %}
                     object-fit: cover;
                   ">
            {% endif %}
            <h3>{{ memo.title }}</h3>
            <p>{{ memo.content }}</p>
            <small>{{ memo.created_at.strftime('%Y-%m-%d') }}</small>
          </div>
        {% endfor %}
    {% else %}
        <p>メモが登録されていません</p>
    {% endif %}
</div>

</div>
{% endblock %}
